<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Web Vitals Configuration</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <form id="extension-configuration" class="coral-Form">
      <h4 class="coral-Heading--M">Extension Configuration</h4>

      <div id="web-vitals-library-type-container" class="coral-FormGroup-item">
        <label class="coral-FormGroup-itemLabel coral-FieldLabel--left">
          Load <code class="coral-Code--XS">web-vitals.js</code> from
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <coral-radiogroup orientation="vertical">
          <coral-radio name="webVitalsLibraryType" value="cdn" checked="">
            the <code class="coral-Code--S">unpkg.com</code> CDN
            <em>
              (Most updated library, uses the latest Web Vitals 3.x with attribution.)
            </em>
          </coral-radio>
          <coral-radio name="webVitalsLibraryType" value="bundle" checked="">
            the library that is bundled with this extension
            <em>
              (Loads quickly, uses Web Vitals 3.3.2 with attribution.)
            </em>
          </coral-radio>
          <coral-radio name="webVitalsLibraryType" value="url">
            a specific URL
          </coral-radio>
        </coral-radiogroup>
      </div>

      <div id="web-vitals-library-url-container" class="coral-FormGroup-item hide">
        <label for="web-vitals-library-url" class="coral-FormGroup-itemLabel coral-FieldLabel--left">
          URL to load <code class="coral-Code--XS">web-vitals.js</code> from.
          <b>Important!</b> Ensure that you use the IIFE version, for example,
          <code class="coral-Code--XS">web-vitals.attribution.iife.js</code>.
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="web-vitals-library-url" name="webVitalsLibraryUrl" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="https://www.website.com/web-vitals.attribution.iife.js">
        </div>
      </div>

      <br class="coral-Divider--S">

      <div id="report-all-changes-container" class="coral-FormGroup-item">
        <label class="coral-FormGroup-itemLabel coral-FieldLabel--left">
          Report the selected metrics with every change:
        </label>
        <coral-checkboxgroup orientation="vertical">
          <coral-switch name="reportAllChangesCLS" value="yes">
            Cumulative Layout Shift (CLS)
          </coral-switch>
          <coral-switch name="reportAllChangesFCP" value="yes">
            First Contentful Paint (FCP)
          </coral-switch>
          <coral-switch name="reportAllChangesFID" value="yes">
            First Input Delay (FID)
          </coral-switch>
          <coral-switch name="reportAllChangesINP" value="yes" checked="">
            Interaction to Next Paint (INP)
          </coral-switch>
          <coral-switch name="reportAllChangesLCP" value="yes">
            Largest Contentful Paint (LCP)
          </coral-switch>
          <coral-switch name="reportAllChangesTTFB" value="yes">
            Time to First Byte (TTFB)
          </coral-switch>
        </coral-checkboxgroup>
      </div>

      <br class="coral-Divider--S">

      <div id="duration-threshold-container" class="coral-FormGroup-item">
        <label for="duration-threshold-inp" class="coral-FormGroup-itemLabel">
          Duration threshold for Interaction to Next Paint (INP)
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="duration-threshold-inp" name="durationThresholdINP" value="40" class="coral-InputGroup-input" is="coral-textfield">
          <coral-icon icon="info" title="Info" size="S"></coral-icon>
          <coral-tooltip target="_prev" variant="info" placement="right" offset="8">
            A custom duration threshold can be passed to control what event-timing entries are
            considered for INP reporting. The default threshold is 40, which means INP scores of
            less than 40 are reported as 0. Note that this will not affect your 75th percentile INP
            value unless that value is also less than 40 (well below the recommended good
            threshold).
          </coral-tooltip>
        </div>
      </div>

      <p>
        In most cases, you only want to report the metric when it is ready to be reported.
        However, you can report every change (e.g. each layout shift as it happens), for
        example, when debugging. But in general, reporting all changes is not needed (nor
        recommended).
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#report-the-value-on-every-change" target="_blank" rel="noopener noreferrer">
          Learn more.
        </a>
      </p>
      <p>
        <b>The exception is with Interaction to Next Paint (INP).</b> INP should be continually
        monitored for changes throughout the entire lifespan of a page.
        <a class="coral-Link" href="https://web.dev/inp/" target="_blank" rel="noopener noreferrer">
          Learn more about Interaction to Next Paint (INP).
        </a>
      </p>
    </form>

    <section class="coral-Well">
      <p>
        Measure quality signals from Web Vitals (as defined by Google) to optimise the user
        experience of your website.
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals" target="_blank" rel="noopener noreferrer">
          Learn more about Web Vitals, as defined by Google.
        </a>
      </p>

      <p>
        Learn more about each metric:
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://web.dev/cls/" target="_blank" rel="noopener,noreferrer">
              Cumulative Layout Shift (CLS)
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://web.dev/fcp/" target="_blank" rel="noopener noreferrer">
              First Contentful Paint (FCP)
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://web.dev/fid/" target="_blank" rel="noopener noreferrer">
              First Input Delay (FID)
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://web.dev/inp/" target="_blank" rel="noopener noreferrer">
              Interaction to Next Paint (INP)
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://web.dev/lcp/" target="_blank" rel="noopener noreferrer">
              Largest Contentful Paint (LCP)
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://web.dev/time-to-first-byte/" target="_blank" rel="noopener noreferrer">
              Time to First Byte (TTFB)
            </a>
          </li>
        </ul>
      </p>

      <h4 class="coral-Heading--S coral-Heading--light">How this Extension works</h4>
      <ol class="coral-List">
        <li class="coral-List-item">
          <b>Add the appropriate Events in your Rules to track the desired Web Vitals
            metrics.</b> Each Event corresponds to the Web Vital metric that can be measured.<br />
            <b>IMPORTANT!</b> Take note of the supported web browser(s) for each Event / Web
            Vital metric.
        </li>
        <li class="coral-List-item">
          <b>Use the appropriate Data Elements in your Rules to retrieve data about the Web
            Vitals metric, like its name, ID, value, delta, etc.</b><br />
            More information is available when setting up the Data Element.
        </li>
      </ol>

      <p>
        This extension loads the Web Vitals library when the Tags environment script is loaded. No
        Rule Action is needed to do this.
      </p>

      <coral-alert variant="warning">
        <coral-alert-header>
          Accuracy of measurements
        </coral-alert-header>
        <coral-alert-content>
          Since <code class="coral-Code--XS">web-vitals.js</code> is loaded <em>after</em> the
          Tags library itself has been loaded, some Web Vitals metrics may not be measured as
          accurately as when they are implemented directly into the web pages. In some cases, the
          Web Vitals metrics may just not be measured at all.
        </coral-alert-content>
      </coral-alert>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2021-2023 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      const FORM_ID = 'extension-configuration';

      const WEB_VITALS_LIBRARY_TYPES = [
        'bundle',
        'cdn',
        'url',
      ];

      const toggleWebVitalsLibraryUrlContainer = () => {
        toggleElement(
          FORM_ID,
          'webVitalsLibraryType',
          'url',
          '#web-vitals-library-url-container',
        );

        const formValues = getFormValues(FORM_ID);
        const webVitalsLibraryTypeValue = formValues['webVitalsLibraryType'];
        if (webVitalsLibraryTypeValue === 'url') {
          const webVitalsLibraryUrlInputSelector = '#web-vitals-library-url';
          const webVitalsLibraryUrlInput = document.querySelector(webVitalsLibraryUrlInputSelector);
          webVitalsLibraryUrlInput.value = '';
        }
      };

      window.extensionBridge.register({
        init: (info) => {
          const { settings } = info;
          if (settings) {
            const hasOwnProperty = Object.prototype.hasOwnProperty;

            // these settings were added in v1.2.0
            if (
              !hasOwnProperty.call(settings, 'reportAllChangesINP')
              || !hasOwnProperty.call(settings, 'durationThresholdINP')
            ) {
              info.settings.reportAllChangesINP = 'yes';
              info.settings.durationThresholdINP = 40;
            }

            // these settings were added in v1.3.0
            if (!hasOwnProperty.call(settings, 'webVitalsLibraryType')) {
              info.settings.webVitalsLibraryType = 'cdn';
            }
            if (
              !hasOwnProperty.call(settings, 'webVitalsLibraryUrl')
              || settings.webVitalsLibraryType !== 'url'
            ) {
              info.settings.webVitalsLibraryUrl = 'default';
            }

            setFormValues(FORM_ID, info.settings);

            toggleWebVitalsLibraryUrlContainer();
          }
        },

        getSettings: () => {
          const formValues = getFormValues(FORM_ID);
          const {
            durationThresholdINP,
            reportAllChangesCLS,
            reportAllChangesFCP,
            reportAllChangesFID,
            reportAllChangesINP,
            reportAllChangesLCP,
            reportAllChangesTTFB,
            webVitalsLibraryType,
            webVitalsLibraryUrl,
          } = formValues;

          formValues.durationThresholdINP = stringToInteger(durationThresholdINP);

          if (reportAllChangesCLS === '') {
            formValues.reportAllChangesCLS = 'no';
          }
          if (reportAllChangesFCP === '') {
            formValues.reportAllChangesFCP = 'no';
          }
          if (reportAllChangesFID === '') {
            formValues.reportAllChangesFID = 'no';
          }
          if (reportAllChangesINP === '') {
            formValues.reportAllChangesINP = 'no';
          }
          if (reportAllChangesLCP === '') {
            formValues.reportAllChangesLCP = 'no';
          }
          if (reportAllChangesTTFB === '') {
            formValues.reportAllChangesTTFB = 'no';
          }

          switch (webVitalsLibraryType) {
            case 'bundle':
            case 'cdn':
              formValues.webVitalsLibraryUrl = 'default';
              break;
            case 'url':
              break;
            default:
              formValues.webVitalsLibraryType = 'cdn';
              formValues.webVitalsLibraryUrl = 'default';
              break;
          }


          return formValues;
        },

        validate: () => {
          const formValues = getFormValues(FORM_ID);
          const {
            durationThresholdINP,
            reportAllChangesCLS,
            reportAllChangesFCP,
            reportAllChangesFID,
            reportAllChangesINP,
            reportAllChangesLCP,
            reportAllChangesTTFB,
            webVitalsLibraryType,
            webVitalsLibraryUrl,
          } = formValues;

          const durationThresholdINPNum = stringToInteger(durationThresholdINP);
          const durationThresholdINPNumIsNotNull = durationThresholdINPNum !== null;
          const durationThresholdINPNumIsInteger = durationThresholdINPNumIsNotNull
            ? valueIsInteger(durationThresholdINPNum)
            : false;
          const durationThresholdINPNumIsPercentile = durationThresholdINPNumIsInteger
            ? (durationThresholdINPNumIsInteger >= 0 && durationThresholdINPNumIsInteger <= 100)
            : false;
          const durationThresholdINPIsValid = durationThresholdINPNumIsNotNull
            && durationThresholdINPNumIsInteger
            && durationThresholdINPNumIsPercentile;

          const reportAllChangesCLSIsValid = ['', 'yes'].includes(reportAllChangesCLS);
          const reportAllChangesFCPIsValid = ['', 'yes'].includes(reportAllChangesFCP);
          const reportAllChangesFIDIsValid = ['', 'yes'].includes(reportAllChangesFID);
          const reportAllChangesINPIsValid = ['', 'yes'].includes(reportAllChangesINP);
          const reportAllChangesLCPIsValid = ['', 'yes'].includes(reportAllChangesLCP);
          const reportAllChangesTTFBIsValid = ['', 'yes'].includes(reportAllChangesTTFB);

          const webVitalsLibraryTypeIsValid = WEB_VITALS_LIBRARY_TYPES.includes(webVitalsLibraryType);
          const webVitalsLibraryUrlIsValid = webVitalsLibraryType === 'url'
            ? (
              Object.prototype.toString.call(webVitalsLibraryUrl) === '[object String]'
              && /^https?:\/\//.test(webVitalsLibraryUrl)
            )
            : ['', 'default'].includes(webVitalsLibraryUrl);

          return durationThresholdINPIsValid
            && reportAllChangesCLSIsValid
            && reportAllChangesFCPIsValid
            && reportAllChangesFIDIsValid
            && reportAllChangesINPIsValid
            && reportAllChangesLCPIsValid
            && reportAllChangesTTFBIsValid
            && webVitalsLibraryTypeIsValid
            && webVitalsLibraryUrlIsValid;
        }
      });

      const webVitalsLibraryTypeRadioSelector = '#web-vitals-library-type-container coral-radio';
      const webVitalsLibraryTypeRadios = document.querySelectorAll(
        webVitalsLibraryTypeRadioSelector
      );
      webVitalsLibraryTypeRadios.forEach((radio) => {
        radio.addEventListener('click', (event) => toggleWebVitalsLibraryUrlContainer());
      });
    </script>
  </body>
</html>
