<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Web Vitals Configuration</title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/spectrum/2.9.0/spectrum-light.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="//use.typekit.net/buj6cmr.js"></script>
  </head>
  <body class="spectrum spectrum--light spectrum-Body">
    <p>
      Measure quality signals from Web Vitals (as defined by Google) to optimise the user
      experience of your website.
      <a href="https://github.com/GoogleChrome/web-vitals" target="_blank" rel="noopener noreferrer">
        Learn more about Web Vitals, as defined by Google.
      </a>
    </p>

    <div id="extension-configuration-container">
      <form id="extension-configuration" class="spectrum-Form">
        <h4 class="spectrum-Heading4">Extension Configuration</h4>

        <div id="report-all-changes-container">
          <p>Report the selected metrics with every change:</p>
          <div id="report-all-changes-cls" class="max-width">
            <label class="spectrum-Checkbox">
              <input class="spectrum-Checkbox-box" type="checkbox" name="reportAllChangesCLS" value="yes">
              <span><a href="https://web.dev/cls/" target="_blank" rel="noopener noreferrer">
                Cumulative Layout Shift (CLS)
              </a></span>
            </label>
          </div>
          <div id="report-all-changes-fcp" class="max-width">
            <label class="spectrum-Checkbox">
              <input class="spectrum-Checkbox-box" type="checkbox" name="reportAllChangesFCP" value="yes">
              <span><a href="https://web.dev/fcp/" target="_blank" rel="noopener noreferrer">
                First Contentful Paint (FCP)
              </a></span>
            </label>
          </div>
          <div id="report-all-changes-fid" class="max-width">
            <label class="spectrum-Checkbox">
              <input class="spectrum-Checkbox-box" type="checkbox" name="reportAllChangesFID" value="yes">
              <span><a href="https://web.dev/fid/" target="_blank" rel="noopener noreferrer">
                First Input Delay (FID)
              </a></span>
            </label>
          </div>
          <div id="report-all-changes-lcp" class="max-width">
            <label class="spectrum-Checkbox">
              <input class="spectrum-Checkbox-box" type="checkbox" name="reportAllChangesLCP" value="yes">
              <span><a href="https://web.dev/lcp/" target="_blank" rel="noopener noreferrer">
                Largest Contentful Paint (LCP)
              </a></span>
            </label>
          </div>
          <div id="report-all-changes-ttfb" class="max-width">
            <label class="spectrum-Checkbox">
              <input class="spectrum-Checkbox-box" type="checkbox" name="reportAllChangesTTFB" value="yes">
              <span><a href="https://web.dev/time-to-first-byte/" target="_blank" rel="noopener noreferrer">
                Time to First Byte (TTFB)
              </a></span>
            </label>
          </div>
          <p>
            In most cases, you only want to report the metric when it is ready to be reported.
            However, you can report every change (e.g. each layout shift as it happens), for
            example, when debugging. But in general, reporting all changes is not needed (or
            recommended).
            <a href="https://github.com/GoogleChrome/web-vitals#report-the-value-on-every-change" target="_blank" rel="noopener noreferrer">
              Learn more.
            </a>
          </p>
        </div>
      </form>

      <div class="content-separator">
        &nbsp;
      </div>

      <section>
        <h5 class="spectrum-Heading5">How this Extension works</h5>
        <ol>
          <li>
            <b>Add the appropriate Events in your Rules to track the desired Web Vitals
              metrics.</b><br />
              Each Event corresponds to the Web Vital metric that can be measured.<br />
              <b>IMPORTANT!</b> Take note of the supported web browser(s) for each Event / Web
              Vital metric.
          </li>
          <li>
            <b>Use the appropriate Data Elements in your Rules to retrieve data about the Web
              Vitals metric, like its name, ID, value, delta, etc.</b><br />
              More information is available when setting up the Data Element.
          </li>
        </ol>

        <p>
          This extension loads the required Web Vitals library, <code>webvitals.js</code>, when
          the Launch library is loaded. No Rule Action is needed to do this.
        </p>
        <div class="spectrum-Toast spectrum-Toast--warning max-width" role="alert">
          <svg class="spectrum-UIIcon-AlertMedium spectrum-Icon spectrum-Toast-typeIcon" focusable="false" aria-label="Warning" role="img">
            <path d="M8.564 1.289L.2 16.256A.5.5 0 0 0 .636 17h16.728a.5.5 0 0 0 .5-.5.494.494 0 0 0-.064-.244L9.436 1.289a.5.5 0 0 0-.872 0zM10 14.75a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25zm0-3a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-6a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25z" class="spectrum-UIIcon--medium"></path>
          </svg>
          <div class="spectrum-Toast-body">
            <div class="spectrum-Toast-content">
              Since <code>webvitals.js</code> is loaded after the Launch library itself has been
              loaded, some Web Vitals metrics may not be measured as accurately as when they are
              implemented directly into the web pages. In some cases, the Web Vitals metrics may
              just not be measured at all.
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer class="spectrum-Body--small text footer">
      <div id="donations">
        <p>Donate: <a href="https://paypal.me/yuhuibc" target="_blank">PayPal</a></p>
      </div>
      <div id="support">
        <p>Support Information</p>
        <ul>
          <li>
            <a href="https://github.com/yuhui/launchext-web-vitals/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li>
            <a href="https://github.com/yuhui/launchext-web-vitals/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>Copyright &copy; 2021 Yuhui. All rights reserved.</p>
      <p>
        <a href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      var FORM_ID = 'extension-configuration';

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            setFormValues(FORM_ID, info.settings);
          }
        },

        getSettings: function() {
          var formValues = getFormValues(FORM_ID);

          // rewrite value so as not to deal with empty strings
          if (formValues.reportAllChangesCLS === '') {
            formValues.reportAllChangesCLS = 'no';
          }
          if (formValues.reportAllChangesFCP === '') {
            formValues.reportAllChangesFCP = 'no';
          }
          if (formValues.reportAllChangesFID === '') {
            formValues.reportAllChangesFID = 'no';
          }
          if (formValues.reportAllChangesLCP === '') {
            formValues.reportAllChangesLCP = 'no';
          }
          if (formValues.reportAllChangesTTFB === '') {
            formValues.reportAllChangesTTFB = 'no';
          }

          return formValues;
        },

        validate: function() {
          var formValues = getFormValues(FORM_ID);
          var reportAllChangesCLS = formValues.reportAllChangesCLS;
          var reportAllChangesFCP = formValues.reportAllChangesFCP;
          var reportAllChangesFID = formValues.reportAllChangesFID;
          var reportAllChangesLCP = formValues.reportAllChangesLCP;
          var reportAllChangesTTFB = formValues.reportAllChangesTTFB;

          var reportAllChangesCLSIsValid = ['', 'yes'].indexOf(reportAllChangesCLS) > -1;
          var reportAllChangesFCPIsValid = ['', 'yes'].indexOf(reportAllChangesFCP) > -1;
          var reportAllChangesFIDIsValid = ['', 'yes'].indexOf(reportAllChangesFID) > -1;
          var reportAllChangesLCPIsValid = ['', 'yes'].indexOf(reportAllChangesLCP) > -1;
          var reportAllChangesTTFBIsValid = ['', 'yes'].indexOf(reportAllChangesTTFB) > -1;

          return reportAllChangesCLSIsValid &&
            reportAllChangesFCPIsValid &&
            reportAllChangesFIDIsValid &&
            reportAllChangesLCPIsValid &&
            reportAllChangesTTFBIsValid;
        }
      });
    </script>
  </body>
</html>
