<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Largest Contentful Paint Event</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <h3 class="coral-Heading--M">No configuration necessary</h3>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Event works</h4>
      <p>
        This Event is triggered at the point in the current page's load timeline when its main
        content has likely loaded.
        <a class="coral-Link" href="https://web.dev/lcp/" target="_blank" rel="noopener noreferrer">
          Learn more about Largest Contentful Paint (LCP).
        </a>
      </p>
      <p>
        In most cases, you will need to report only the delta (the difference between the current
        value and the last-reported value). You can then compute the total value by summing all
        metric deltas sent with the same ID in your analytics system.
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#report-only-the-delta-of-changes" target="_blank" rel="noopener noreferrer">
          Learn more.
        </a>
      </p>
      <p>
        This Event works with the following web browsers only:
      </p>
      <ul class="coral-List">
        <li class="coral-List-item">Chromium-based browsers, e.g. Google Chrome, Microsoft Edge, Opera, Samsung
          Internet</li>
      </ul>
      <p>
        You are advised to send your analytics data with a beacon.
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#send-the-results-to-an-analytics-endpoint" target="_blank" rel="noopener noreferrer">
          Learn more.
        </a><br />
        With Adobe Analytics, you can do this by setting <code class="coral-Code--XS">s.useBeacon = true;</code> in your
        "Set Variables" Action.
      </p>

      <coral-alert variant="warning">
        <coral-alert-header>
          Accuracy of reports
        </coral-alert-header>
        <coral-alert-content>
          Since <code class="coral-Code--XS">web-vitals.js</code> is loaded <em>after</em> the
          Tags library itself has been loaded, some Web Vitals metrics may not be reported as
          accurately as when the are implemented directly into the web pages. In some cases, the
          Web Vitals metrics may just not be reported at all.
        </coral-alert-content>
      </coral-alert>

      <p>
        The following Data Elements are available for use with your Rule's Conditions and Actions.
      </p>
      <table is="coral-table" variant="quiet">
        <colgroup>
          <col is="coral-table-column" sortable="" sortabledirection="ascending">
          <col is="coral-table-column" sortable="" sortabledirection="ascending">
          <col is="coral-table-column">
        </colgroup>
        <thead is="coral-table-head">
          <tr is="coral-table-row">
            <th is="coral-table-headercell">Data Element</th>
            <th is="coral-table-headercell">Data type</th>
            <th is="coral-table-headercell">Value</th>
          </tr>
        </thead>
        <tbody is="coral-table-body">
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric ID
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              Unique ID representing this reported metric that's specific to the current web page
              shown in the user's web browser.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Name
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              Name of the reported metric in acronym form: <code class="coral-Code--S">LCP</code>.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Full Name
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              Full name of the reported metric: <code class="coral-Code--S">Largest
              Contentful Paint</code>.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Value
            </td>
            <td is="coral-table-cell">
              Number
            </td>
            <td is="coral-table-cell">
              Current value of the reported metric.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Rating
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              Rating of the reported metric.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Delta
            </td>
            <td is="coral-table-cell">
              Number
            </td>
            <td is="coral-table-cell">
              Delta between the current value and the last-reported value of the reported metric.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Entries
            </td>
            <td is="coral-table-cell">
              Array of <a class="coral-Link" href="https://developer.mozilla.org/en-US/docs/Web/API/LargestContentfulPaint" target="_blank" rel="noopener noreferrer">LargestContentfulPaints</a>
            </td>
            <td is="coral-table-cell">
              Array of the performance entries used in the reported metric's value calculation.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Navigation Type
            </td>
            <td is="coral-table-cell">
              String
            </td>
            <td is="coral-table-cell">
              Navigation type of the reported metric.
            </td>
          </tr>
          <tr is="coral-table-row">
            <td is="coral-table-cell" role="rowheader">
              Metric Attributions
            </td>
            <td is="coral-table-cell">
              Various
            </td>
            <td is="coral-table-cell">
              Potentially-helpful debugging information that can be sent along with the metric
              value for the current page visit in order to help identify issues happening to
              real-users in the field.
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <div id="batching-enabled" class="hide">
      <coral-alert variant="warning">
        <coral-alert-header>
          Batch collection of Web Vitals metric reports is enabled.
        </coral-alert-header>
        <coral-alert-content>
          The Web Vitals metric report that triggered this Event gets added to the batch
          collection as well. As a result, be aware that you would track this same Web Vitals
          metric report more than once, if you're tracking both from this Event and with the
          "Batch" Data Element.
        </coral-alert-content>
      </coral-alert>
    </div>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2021-2024 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      var isBatchingEnabled = false;

      function toggleBatchingConfiguration() {
        const batchingEnabledElement = document.getElementById('batching-enabled');

        if (isBatchingEnabled) {
          batchingEnabledElement.classList.remove('hide');
          batchingEnabledElement.classList.add('show');
        } else {
          batchingEnabledElement.classList.remove('show');
          batchingEnabledElement.classList.add('hide');
        }
      }

      window.extensionBridge.register({
        init: (info) => {
          const { extensionSettings: { enableBatching } } = info;
          isBatchingEnabled = enableBatching && enableBatching === 'yes';

          toggleBatchingConfiguration();

          if (info.settings) {}
        },

        getSettings: () => {
          return {};
        },

        validate: () => {
          return true;
        }
      });
    </script>
  </body>
</html>
