<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Time to First Byte Event</title>
    <link rel="stylesheet" href="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://unpkg.com/@adobe/coral-spectrum@4.5.0/dist/js/coral.min.js" data-coral-icons-external="js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <h3 class="coral-Heading--M">No configuration necessary</h3>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Event works</h4>
      <p>
        This Event is triggered when the user's browser has received the first byte of the current
        page's content.
        <a class="coral-Link" href="https://web.dev/time-to-first-byte/" target="_blank" rel="noopener noreferrer">
          Learn more about Time to First Byte (TTFB).
        </a>
      </p>
      <p>
        In most cases, you will need to report only the delta (the difference between the current
        value and the last-reported value). You can then compute the total value by summing all
        metric deltas sent with the same ID in your analytics system.
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#report-only-the-delta-of-changes" target="_blank" rel="noopener noreferrer">
          Learn more.
        </a>
      </p>
      <p>
        This Event works with the following web browsers only:
      </p>
      <ul class="coral-List">
        <li class="coral-List-item">Chromium-based browsers, e.g. Google Chrome, Microsoft Edge, Opera, Samsung
          Internet</li>
        <li class="coral-List-item">Firefox</li>
        <li class="coral-List-item">Safari</li>
        <li class="coral-List-item">Internet Explorer</li>
      </ul>
      <p>
        You are advised to send your analytics data with a beacon.
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#send-the-results-to-an-analytics-endpoint" target="_blank" rel="noopener noreferrer">
          Learn more.
        </a><br />
        With Adobe Analytics, you can do this by setting <code class="coral-Code--XS">s.useBeacon = true;</code> in your
        "Set Variables" Action.
      </p>

      <coral-alert variant="warning">
        <coral-alert-header>
          Accuracy of measurements
        </coral-alert-header>
        <coral-alert-content>
          Since <code class="coral-Code--XS">webvitals.js</code> is loaded after the Launch library itself has been
          loaded, some Web Vitals metrics may not be measured as accurately as when they are
          implemented directly into the web pages. In some cases, the Web Vitals metrics may
          just not be measured at all.
        </coral-alert-content>
      </coral-alert>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2021-2022 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: (info) => {
          if (info.settings) {}
        },

        getSettings: () => {
          return {};
        },

        validate: () => {
          return true;
        }
      });
    </script>
  </body>
</html>
