<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Batch Data Element</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
    <script src="../scripts/analytics.js"></script>
    <script src="//assets.adobedtm.com/6c27c1e662c8/609b9fc08c83/launch-54e6abf50de0.min.js" async></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <div id="batching-not-enabled" class="show">
      <h3 class="coral-Heading--M">Batching has not been enabled</h3>
      <p class="error-message">
        You cannot save this Data Element because you have not enabled batch collection of Web
        Vitals metric reports in the extension configuration.
      </p>
      <p>To enable batch collection of Web Vitals metric reports:</p>
      <ol class="coral-List">
        <li class="coral-List-item">
          In Extensions, open the "Web Vitals" extension configuration.
        </li>
        <li class="coral-List-item">Expand the "Advanced" section.</li>
        <li class="coral-List-item">
          Enable the "Collect batch of Web Vitals metric reports" toggle.
        </li>
        <li class="coral-List-item">Save the extension configuration.</li>
      </ol>
      <p>Then, return here to use this Data Element type.</p>
    </div>

    <div id="batching-enabled" class="hide">
      <h3 class="coral-Heading--M">No configuration necessary</h3>

      <section class="coral-Well">
        <h4 class="coral-Heading--S coral-Heading--light">How this Data Element works</h4>
        <p>
          This Data Element returns the batch of Web Vitals metric reports that have been collected
          so far.
        </p>
        <p>
          How to use:
        </p>
        <ul class="coral-List">
          <li class="coral-List-item"><code class="coral-Code--XS">%data element name%</code></li>
          <li class="coral-List-item"><code class="coral-Code--XS">_satellite.getVar('data element name')</code></li>
        </ul>

        <p>
          The batch is an array of objects, where each object contains a Web Vitals metric report
          with the following information:
        </p>
        <table is="coral-table" variant="quiet">
          <colgroup>
            <col is="coral-table-column" sortable="" sortabledirection="ascending">
            <col is="coral-table-column" sortable="" sortabledirection="ascending">
            <col is="coral-table-column">
          </colgroup>
          <thead is="coral-table-head">
            <tr is="coral-table-row">
              <th is="coral-table-headercell">Key</th>
              <th is="coral-table-headercell">Data type</th>
              <th is="coral-table-headercell">Value</th>
            </tr>
          </thead>
          <tbody is="coral-table-body">
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">id</code>
              </td>
              <td is="coral-table-cell">
                String
              </td>
              <td is="coral-table-cell">
                Unique ID representing this reported metric that's specific to the current web page
                shown in the user's web browser.
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">name</code>
              </td>
              <td is="coral-table-cell">
                String
              </td>
              <td is="coral-table-cell">
                Name of the reported metric in acronym form.
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">fullName</code>
              </td>
              <td is="coral-table-cell">
                String
              </td>
              <td is="coral-table-cell">
                Full name of the reported metric.
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">value</code>
              </td>
              <td is="coral-table-cell">
                Number
              </td>
              <td is="coral-table-cell">
                Current value of the reported metric.
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">rating</code>
              </td>
              <td is="coral-table-cell">
                String
              </td>
              <td is="coral-table-cell">
                Rating of the reported metric.
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">delta</code>
              </td>
              <td is="coral-table-cell">
                Number
              </td>
              <td is="coral-table-cell">
                Delta between the current value and the last-reported value of the reported metric.
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">entries</code>
              </td>
              <td is="coral-table-cell">
                Various
              </td>
              <td is="coral-table-cell">
                Array of the performance entries used in the reported metric's value calculation.
                (The actual data type depends on the reported metric.)
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">navigationType</code>
              </td>
              <td is="coral-table-cell">
                String
              </td>
              <td is="coral-table-cell">
                Navigation type of the reported metric.
              </td>
            </tr>
            <tr is="coral-table-row">
              <td is="coral-table-cell" role="rowheader">
                <code class="coral-Code--S">attribution</code>
              </td>
              <td is="coral-table-cell">
                Object
              </td>
              <td is="coral-table-cell">
                Potentially-helpful debugging information that can be sent along with the metric
                value for the current page visit in order to help identify issues happening to
                real-users in the field.
                <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#attribution" target="_blank" rel="noopener noreferrer">
                  Learn more about the <code class="coral-Code--XS">attribution</code> metric
                  property.
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <div id="messaging"></div>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2024 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      var isBatchingEnabled = false;

      function toggleBatchingConfiguration() {
        const batchingNotEnabledElement = document.getElementById('batching-not-enabled');
        const batchingEnabledElement = document.getElementById('batching-enabled');

        if (isBatchingEnabled) {
          batchingEnabledElement.classList.remove('hide');
          batchingEnabledElement.classList.add('show');
          batchingNotEnabledElement.classList.remove('show');
          batchingNotEnabledElement.classList.add('hide');
        } else {
          batchingNotEnabledElement.classList.remove('hide');
          batchingNotEnabledElement.classList.add('show');
          batchingEnabledElement.classList.remove('show');
          batchingEnabledElement.classList.add('hide');
        }
      }

      window.extensionBridge.register({
        init: (info) => {
          const { extensionSettings: { enableBatching } } = info;
          isBatchingEnabled = enableBatching && enableBatching === 'yes';

          toggleBatchingConfiguration();

          if (info.settings) {}

          // analytics
          const { company, propertySettings } = info;
          initWithOrgIdAndDomains(
            company.orgId,
            propertySettings.settings
              ? propertySettings.settings.domains
              : propertySettings.domains,
          );
        },

        getSettings: () => {
          // analytics
          const analyticsEventDetail = {
            category: 'batch data element',
            label: '{}',
          };
          dispatchAnalyticsEvent(
            'dataElement.getSettings',
            analyticsEventDetail,
          );

          return {};
        },

        validate: () => {
          return isBatchingEnabled;
        }
      });
    </script>
  </body>
</html>
