<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Metric Attribution Data Element</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <form id="data-element-configuration" class="coral-Form coral-FormGroup--labelsAbove">
      <h4 class="coral-Heading--M">Metric attribution</h4>

      <div id="metric-attribution-item-container" class="coral-FormGroup-item">
        <label id="metric-attribution-item-label" for="metric-attribution-item" class="coral-FormGroup-itemLabel coral-FieldLabel--left">
          Select an attribution to report
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <coral-select id="metric-attribution-item" name="metricAttributionItem" class="coral-Form-field" labelledby="metric-attribution-item-label"  placeholder="Choose an attribution" style="width: 100%;">
           <coral-select-item value="cacheDuration">Cache Duration (TTFB)</coral-select-item>
           <coral-select-item value="connectionDuration">Connection Duration (TTFB)</coral-select-item>
           <coral-select-item value="dnsDuration">DNS Duration (TTFB)</coral-select-item>
           <coral-select-item value="element">Element (LCP)</coral-select-item>
           <coral-select-item value="elementRenderDelay">Element Render Delay (LCP)</coral-select-item>
           <coral-select-item value="fcpEntry">FCP Entry (FCP)</coral-select-item>
           <coral-select-item value="firstByteToFCP">First Byte To FCP (FCP)</coral-select-item>
           <coral-select-item value="inputDelay">Input Delay (INP)</coral-select-item>
           <coral-select-item value="interactionTarget">Interaction Target (INP)</coral-select-item>
           <coral-select-item value="interactionTargetElement">Interaction Target Element (INP)</coral-select-item>
           <coral-select-item value="interactionTime">Interaction Time (INP)</coral-select-item>
           <coral-select-item value="interactionType">Interaction Type (INP)</coral-select-item>
           <coral-select-item value="largestShiftEntry">Largest Shift Entry (CLS)</coral-select-item>
           <coral-select-item value="largestShiftSource">Largest Shift Source (CLS)</coral-select-item>
           <coral-select-item value="largestShiftTarget">Largest Shift Target (CLS)</coral-select-item>
           <coral-select-item value="largestShiftTime">Largest Shift Time (CLS)</coral-select-item>
           <coral-select-item value="largestShiftValue">Largest Shift Value (CLS)</coral-select-item>
           <coral-select-item value="lcpEntry">LCP Entry (LCP)</coral-select-item>
           <coral-select-item value="lcpResourceEntry">LCP Resource Entry (LCP)</coral-select-item>
           <coral-select-item value="loadState">Load State (CLS, FCP, INP)</coral-select-item>
           <coral-select-item value="longAnimationFrameEntries">Long Animation Frame Entries (INP)</coral-select-item>
           <coral-select-item value="navigationEntry">Navigation Entry (FCP, LCP, TTFB)</coral-select-item>
           <coral-select-item value="nextPaintTime">Next Paint Time (INP)</coral-select-item>
           <coral-select-item value="presentationDelay">Presentation Delay (INP)</coral-select-item>
           <coral-select-item value="processedEventEntries">Processed Event Entries (INP)</coral-select-item>
           <coral-select-item value="processingDuration">Processing Duration (INP)</coral-select-item>
           <coral-select-item value="requestDuration">Request Duration (TTFB)</coral-select-item>
           <coral-select-item value="resourceLoadDelay">Resource Load Delay (LCP)</coral-select-item>
           <coral-select-item value="resourceLoadDuration">Resource Load Duration (LCP)</coral-select-item>
           <coral-select-item value="timeToFirstByte">Time to First Byte (FCP, LCP)</coral-select-item>
           <coral-select-item value="url">URL (LCP)</coral-select-item>
           <coral-select-item value="waitingDuration">Waiting Duration (TTFB)</coral-select-item>
          </coral-select>
        </div>

        <coral-alert variant="error" id="metric-attribution-item-renamed-alert" class="hide">
          <coral-alert-header>
            <span id="metric-attribution-item-renamed-old-name"></span> was renamed in Web Vitals
            <span id="metric-attribution-item-renamed-version"></span>.
          </coral-alert-header>
          <coral-alert-content>
            <p>
              The renamed attribution, <b id="metric-attribution-item-renamed-new-name"></b>,
              has been selected for you. Please save this data element to retain the update.
            </p>
          </coral-alert-content>
        </coral-alert>

        <coral-alert variant="error" id="metric-attribution-item-deleted-alert" class="hide">
          <coral-alert-header>
            <span id="metric-attribution-item-deleted-name"></span> was deleted in Web Vitals
            <span id="metric-attribution-item-deleted-version"></span>.
          </coral-alert-header>
          <coral-alert-content>
            <p>
              As a result, this data element will not return any value.
              <em>You can delete this data element.</em>
            </p>
            <p id="metric-attribution-item-deleted-INP-replaced" class="hide">
              If you are using this attribution to report with <b>Interaction to Next Paint (INP)</b>,
              use the updated attribution instead: <b id="metric-attribution-item-deleted-INP-replaced-name"></b>.
            </p>
          </coral-alert-content>
        </coral-alert>
      </div>
    </form>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Data Element works</h4>
      <p>
        This Data Element returns the selected attribution of the reported metric. Attributions are
        potentially-helpful debugging information that can be sent along with the metric value for
        the current page visit in order to help identify issues happening to real-users in the
        field.
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#attribution" target="_blank" rel="noopener noreferrer">
          Refer to the Web Vitals project to learn more about the
          <code class="coral-Code--XS">attribution</code> metric property.
        </a>
      </p>

      <coral-alert variant="warning" id="web-vitals-library-type-url-alert" class="hide">
        <coral-alert-header>
          Web Vitals <code class="coral-Code--XS">attribution</code> build required
        </coral-alert-header>
        <coral-alert-content>
          <p>
            You are loading the Web Vitals library from your own URL. To use this Data Element, you
            <span class="text-underline">must</span> ensure that your Web Vitals library includes
            the <code class="coral-Code--XS">attribution</code> build.
            <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#attribution-build" target="_blank" rel="noopener noreferrer">
              Learn more.
            </a>
          </p>
        </coral-alert-content>
      </coral-alert>

      <p>
        <b>This data element <span class="text-underline">must</span> be used with an Event from
          this Web Vitals extension.</b>
      </p>
      <p>
        How to use:
      </p>
      <ul class="coral-List">
        <li class="coral-List-item"><code class="coral-Code--XS">%data element name%</code></li>
        <li class="coral-List-item"><code class="coral-Code--XS">_satellite.getVar('data element name', event)</code></li>
      </ul>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2022-2024 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      const FORM_ID = 'data-element-configuration';

      const ACCEPTABLE_METRIC_ATTRIBUTION_ITEMS = [
        'cacheDuration',
        'connectionDuration',
        'dnsDuration',
        'element',
        'elementRenderDelay',
        'fcpEntry',
        'firstByteToFCP',
        'inputDelay',
        'interactionTarget',
        'interactionTargetElement',
        'interactionTime',
        'interactionType',
        'largestShiftEntry',
        'largestShiftSource',
        'largestShiftTarget',
        'largestShiftTime',
        'largestShiftValue',
        'lcpEntry',
        'lcpResourceEntry',
        'loadState',
        'longAnimationFrameEntries',
        'navigationEntry',
        'nextPaintTime',
        'presentationDelay',
        'processedEventEntries',
        'processingDuration',
        'requestDuration',
        'resourceLoadDelay',
        'resourceLoadDuration',
        'timeToFirstByte',
        'url',
        'waitingDuration',
      ];

      const DEPRECATED_METRIC_ATTRIBUTION_ITEMS = {
        connectionTime: {
          deprecation: 'renamed',
          fullName: 'Connection Time',
          renamedMetricAttributionItem: 'connectionDuration',
          renamedFullName: 'Connection Duration',
          version: '4.0',
        },
        dnsTime: {
          deprecation: 'renamed',
          fullName: 'DNS Time',
          renamedMetricAttributionItem: 'dnsDuration',
          renamedFullName: 'DNS Duration',
          version: '4.0',
        },
        eventEntry: {
          deprecation: 'deleted',
          fullName: 'Event Entry',
          metricWithReplacement: 'INP',
          renamedMetricAttributionItem: 'processedEventEntries',
          renamedFullName: 'Processed Event Entries',
          version: '4.0',
        },
        eventTarget: {
          deprecation: 'deleted',
          fullName: 'Event Target',
          metricWithReplacement: 'INP',
          renamedMetricAttributionItem: 'interactionTarget',
          renamedFullName: 'Interaction Target',
          version: '4.0',
        },
        eventTime: {
          deprecation: 'deleted',
          fullName: 'Event Time',
          metricWithReplacement: 'INP',
          renamedMetricAttributionItem: 'interactionTime',
          renamedFullName: 'Interaction Time',
          version: '4.0',
        },
        eventType: {
          deprecation: 'deleted',
          fullName: 'Event Type',
          metricWithReplacement: 'INP',
          renamedMetricAttributionItem: 'interactionType',
          renamedFullName: 'Interaction Type',
          version: '4.0',
        },
        requestTime: {
          deprecation: 'renamed',
          fullName: 'Request Time',
          renamedMetricAttributionItem: 'requestDuration',
          renamedFullName: 'Request Duration',
          version: '4.0',
        },
        resourceLoadTime: {
          deprecation: 'renamed',
          fullName: 'Resource Load Time',
          renamedMetricAttributionItem: 'resourceLoadDuration',
          renamedFullName: 'Resource Load Duration',
          version: '4.0',
        },
        waitingTime: {
          deprecation: 'renamed',
          fullName: 'Waiting Time',
          renamedMetricAttributionItem: 'waitingDuration',
          renamedFullName: 'Waiting Duration',
          version: '4.0',
        },
      };

      document.getElementById('metric-attribution-item').addEventListener('change', () => {
        hideOrShowElement('#metric-attribution-item-renamed-alert', 'hide');
        hideOrShowElement('#metric-attribution-item-deleted-alert', 'hide');
        hideOrShowElement('#metric-attribution-item-deleted-INP-replaced', 'hide');
      });

      window.extensionBridge.register({
        init: (info) => {
          const {
            extensionSettings: { webVitalsLibraryType },
            settings,
          } = info;

          const isWebVitalsLibraryTypeUrl = !!webVitalsLibraryType
            && webVitalsLibraryType === 'url';
          hideOrShowElement(
            '#web-vitals-library-type-url-alert',
            'show',
            isWebVitalsLibraryTypeUrl
          );

          if (settings) {
            // these checks were added in v2.1.0
            const { metricAttributionItem } = settings;
            const deprecatedMetricAttribution =
              DEPRECATED_METRIC_ATTRIBUTION_ITEMS[metricAttributionItem];
            if (deprecatedMetricAttribution) {
              const {
                deprecation,
                fullName,
                metricWithReplacement,
                renamedMetricAttributionItem,
                renamedFullName,
                version,
              } = deprecatedMetricAttribution;

              switch (deprecation) {
                case 'deleted':
                  setInnerText('#metric-attribution-item-deleted-name', fullName);
                  setInnerText('#metric-attribution-item-deleted-version', version);
                  hideOrShowElement('#metric-attribution-item-deleted-alert');

                  // delete the setting to force the user to take action on the data element
                  delete settings.metricAttributionItem;

                  if (metricWithReplacement !== 'INP') {
                    break;
                  }

                  setInnerText(
                    '#metric-attribution-item-deleted-INP-replaced-name',
                    renamedFullName
                  );
                  hideOrShowElement('#metric-attribution-item-deleted-INP-replaced');

                  break;
                case 'renamed':
                  setInnerText('#metric-attribution-item-renamed-old-name', fullName);
                  setInnerText('#metric-attribution-item-renamed-new-name', renamedFullName);
                  setInnerText('#metric-attribution-item-renamed-version', version);
                  hideOrShowElement('#metric-attribution-item-renamed-alert');

                  // update the setting to force the user to save the data element
                  settings.metricAttributionItem = renamedMetricAttributionItem;
                  break;
              }
            }

            setFormValues(FORM_ID, settings);
          }
        },

        getSettings: () => {
          const formValues = getFormValues(FORM_ID);

          return formValues;
        },

        validate: () => {
          const formValues = getFormValues(FORM_ID);
          const { metricAttributionItem } = formValues;

          const metricAttributionItemIsValid = ACCEPTABLE_METRIC_ATTRIBUTION_ITEMS.includes(
            metricAttributionItem
          );

          return metricAttributionItemIsValid;
        }
      });
    </script>
  </body>
</html>
