<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Metric ID Data Element</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <h3 class="coral-Heading--M">No configuration necessary</h3>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Data Element works</h4>
      <p>
        This Data Element returns the unique ID representing this reported metric that's specific
        to the current web page shown in the user's web browser.
        <a class="coral-Link" href="https://github.com/GoogleChrome/web-vitals#types" target="_blank" rel="noopener noreferrer">
          Refer to the Web Vitals project to learn more about the
          <code class="coral-Code--XS">id</code> metric property.
        </a>
      </p>

      <p>
        <b>This data element <span class="text-underline">must</span> be used with an Event from
          this Web Vitals extension.</b>
      </p>
      <p>
        How to use:
      </p>
      <ul class="coral-List">
        <li class="coral-List-item"><code class="coral-Code--XS">%data element name%</code></li>
        <li class="coral-List-item"><code class="coral-Code--XS">_satellite.getVar('data element name', event)</code></li>
      </ul>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-web-vitals/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2021-2024 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      window.extensionBridge.register({
        init: (info) => {
          if (info.settings) {}
        },

        getSettings: () => {
          return {};
        },

        validate: () => {
          return true;
        }
      });
    </script>
  </body>
</html>
